        *{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}

.form-box{
    width: 380px;
    height: 555px;
    position: relative;
    background-color: rgb(177 30 30 / 0%);
    box-shadow: 0 0 20px -4px #fbf1f266;
    border-radius: 20px;
    margin: 6% auto;
    padding: 10px;
    overflow: hidden;
}

.button-box{
    width: 336px;
    margin: 11px auto;
    height: 55px;
    color: white;
    position: relative;

    border-radius: 35px;
}

.toggle-btn{
    position: relative;  /* sayfada yer kaplar */
    padding: 16px 30px;
    border: none;
    background: transparent;
    outline: none;
    font-size: 13px;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
    
}
 #btn{
    position: absolute; /* sayfada yer kaplamaz */
    top: 0;
    left: 0;
    width: 110px ;
    height: 100%;
    background:crimson;
    border-radius: 35px;
    transition: .5s;
}

.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;

}

.social-icons lottie-player{
    width: 40px;
    margin: 0px 13px;
    cursor: pointer;
}

.input-group{
    position: absolute;
    top: 107px;
    width: 280px;
    transition: .5s;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    border: none;
    margin: 5px 0;
    background: transparent;
    border-bottom: 1px solid rgba(153, 153, 153, 0.705);
    outline: none;
    

}


.submit-btn{
    display: block;
    width: 85%;
    padding: 10px;
    border: none;
    background: crimson;
    border-radius: 35px;
    cursor:pointer; 
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    margin: auto;
    outline: none;
}

.input-group a{
   display: inline-block;
   text-decoration: none;
   color: #777;
   margin: 30px 10px 30px 0px;
   font-size: 13px;
}

#Login{
    left: 50px;
 }

#Register{
    left: 450px;
}
