
.swiper-slide {
    text-align: center;
    font-size: 18px;
  
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #btn-1:hover {
    background-color: rgb(242 1 45);
    text-decoration: solid;
  }

.swiper {
    width: 100px;
    height: 300px;
  }
#nav{
    background-color: lch(10 35.32 14.92);
}
.container {
    display: flex;
    width: 40rem;
    justify-content: space-around;
}
.art-title{
    height: 8rem;
}
.img-container{
    display: flex;
   
    height: 12rem;
}

.art-img {
    height: 12rem;
    width: 10rem;
   
}

.art-title h1 {
    height: 6rem;
    width: 49rem;
    font-size: 36px;
    position: relative;
    top: 2rem;
}

.navbar-med {
    color: whitesmoke;
    height: 123px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    width: 635px;
}
.navbar-med a {
    width: 100px;
}
.navbar-left {
    width: 234px;
    display: flex;
    justify-content: center;
}

.nav-container{
       width: 1284px;
       display: flex;
       justify-content: space-between;
}

.article{
    height: 70%;
     display: flex;
    
}

.article-left {

    width : 50%
}

.left {
    height: 70%;
    margin: 19px;
}
.article-right {

    width : 50%;
    
}
.article-title{
    width: 471px;
    height: 165px;
    font-size: 50px;

    color: aliceblue;
    font-family: auto;
    font-weight: bolder;

}
.home-page-wrapper{
    height : 100%;
}

.right-container{
    margin: 35px;
  
    height: 383px;
}

.home-btn {

    width: 239px;
    position: relative;
    left: 106px;
    box-shadow: beige;
    height: 48px;
   
}

.title-container { 
    height: 233px;
    color: aliceblue;
    font-size: -webkit-xxx-large;
    width: 575px;
    display: flex;
    align-items: center;
    position: relative;
    left: 106px;
    top: 27px;
    font-size: 54px;
}


.left-container{
    margin: 35px;
    height: 383px;
}

.navbar-right{
    color: aliceblue;
    display: flex;
    justify-content: center;
    height: 51px;
    width: 262px;
    position: relative;
    top: 60px;
}